{% extends 'metrix/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('metrix') %}
{% set pageAction = 'metrix/settings/save-settings' %}
{% set pageUrl = 'metrix/settings' %}

{% block settingsContent %}
    {{ forms.textField({
        label: 'Plugin Name' | t('app'),
        instructions: 'Plugin name for the end user.' | t('metrix'),
        id: 'pluginName',
        name: 'pluginName',
        value: settings.pluginName,
        autofocus: true,
        required: true,
        errors: settings.getErrors('pluginName'),
        warning: macros.configWarning('pluginName', 'metrix'),
    }) }}

    {{ forms.lightswitchField({
        label: 'Enable CP Section' | t('metrix'),
        instructions: 'Whether to enable Metrix in the main sidebar navigation.' | t('metrix'),
        id: 'hasCpSection',
        name: 'hasCpSection',
        on: settings.hasCpSection,
        errors: settings.getErrors('hasCpSection'),
        warning: macros.configWarning('hasCpSection', 'metrix'),
    }) }}
{% endblock %}
