{% extends 'verbb-base/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set crumbs = [
    { label: 'Settings' | t('app'), url: url('settings') },
    { label: 'Plugins' | t('app'), url: url('settings/plugins') },
    { label: craft.metrix.getPluginName() | t('metrix'), url: url('metrix/settings') },
] | merge(crumbs ?? []) %}

{% set pageTabs = {
    general: { title: 'General Settings' | t('metrix'), url: url('metrix/settings') },
    widgets: { title: 'Widgets' | t('metrix'), url: url('metrix/settings/widgets') },
    presets: { title: 'Presets' | t('metrix'), url: url('metrix/settings/presets') },
} %}

{% set selectedSubnavItem = 'settings' %}

{% set pageTitle = pageTitle ?? false %}
{% if title is not defined and pageTitle %}
    {% set title = pageTitle %}
{% endif %}
